<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%=value%></div>
<% end %>

<div class="row-fluid">
	<div class="span1">
		<span class="vote-count"><%=@question.votes.count %></span> <br>
		<%= form_for @vote, :url => votes_question_path(@question), :remote => true do |f| %>
		  <%= f.submit "vote", :class=> 'btn' %>
		<% end %>
	</div>
	<div class="span11">
		<h2><%=@question.content%></h2>  
	</div>
</div>

<div class="question-comments">
	<%= render :partial => "shared/comment", :collection => @comments %>
</div>
<%#= form_for [@question, @comment] do |f| %>
<%= form_for @comment, :url => comments_question_path(@question), :remote => true do |f| %>
  <%= f.text_field :content, :placeholder => "comment" %>
  <%= f.submit "comment", :class=> 'btn'%>
<% end %>

<h3>Answers</h3>

<div class="answers">
  <%= render :partial => 'answer', :collection => @answers %>
</div>

<h3>Add answers</h3>
<%= form_for @answer, :remote => true do |f| %>
  <%= f.hidden_field :question_id, :value => @question.id %>
  <%= f.text_area :content, :placeholder => "Add answer", :rows => '10', :cols => '5' %>
  <div><%= f.submit %>
<% end %>
